# This file is a reference. The application does not load it automatically.
AICM_BIND_HOST=127.0.0.1
AICM_PORT=8911
AICM_LOOPBACK_PORT=0
AICM_REQUIRE_TOKEN=1
AICM_MAX_CONCURRENCY=24
AICM_CONNECTION_TIMEOUT=30
AICM_LIVE_SOURCE=chart
AICM_REFRESH_SECONDS=180
AICM_MONITOR_MAX_PENDING=16
AICM_TENANT_HOURLY_PROBES=120
